.blockStyle {
  display: flex;
  border-bottom: 3px solid black;
}

.h3Style {
  height: 50px;
  margin: 10px;
  padding: 10px;
  color: rgb(30, 149, 64);
  background-color: rgb(216, 216, 216);
  font-size: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px black;
}

.ulStyle {
  padding-top: 15px;
  padding-bottom: 10px;
  color: black;
  width: 1500px;
  font-size: 20px;
  max-height: 330px;
  background-color: rgb(238, 237, 231);
  border-radius: 5px;
  box-shadow: 0 0 20px black;
}

.imgStyle {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 20px black;
  margin: 25px;
  max-height: 300px;
  width: 250px;
}

.idStyle {
  font-weight: bold;
  font-style: italic;
}

.priceStyle {
  margin: 10px 10px 10px 0;
  padding: 10px;
  width: max-content;
  border: none;
  border-radius: 7px;
  background-color: rgb(175, 236, 137);
  box-shadow: 0 0 5px;
}

.descriptionStyle {
  font-size: 17px;
  font-weight: lighter;
  margin: 10px 10px 10px 0;
}

.categoryStyle {
  padding: 5px;
  width: max-content;
  border: 1px dashed;
  background-color: blanchedalmond;
}
