.divStyle {
  margin: 10px;
  width: 500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  border: 2px solid;
  border-radius: 15px;
}

.h1Style {
  text-align: center;
  width: max-content;
}

.btnStyle {
  width: 100px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  background-color: rgb(0, 228, 103);
}

.factStyle {
  margin: 15px;
  padding: 10px;
  background-color: rgb(123, 215, 226);
  text-align: center;
  width: 460px;
  flex-wrap: wrap;
  border-radius: 15px;
}
