.divStyle {
  width: 500px;
  background-size: 100%;
  background-color: rgb(213, 255, 253);
  border: 2px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.h2Style {
  background-color: rgb(50, 217, 243);
  width: auto;
  font-size: 30px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.descriptionStyle {
  background-color: rgb(132, 226, 175);
  width: auto;
  font-size: 20px;
  font-family: monospace;
}

.priceInfoStyle {
  font-weight: bold;
}

.imgStyle {
  max-height: 200px;
  max-width: 200px;
  box-shadow: 0 0 10px;
}
